/*******--------- CELLPHONES & SMALL SCREENS ---------*******/
@media (max-width: 600px){
    footer {
        grid-row: 5/6;
        grid-column: 3/4;
        margin-right: 0;
    }
    #main {
      grid-template-rows: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
    }
    #main-container {
      /* background-color: #e9dfcf; */
        /* border: 2rem solid black; */
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        position: relative
    }
      #main-content {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-rows: 1% 14% 15% 40% 29% 1%;
          grid-template-columns: 5% 5% 80% 5% 5%;   
      }
      #circle-top-div {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      #circle-left-div {
        grid-row: 0 / 1;
        grid-column: 2 / 3;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      #circle-right-div {
        grid-row: 0 / 1;
        grid-column: 2 / 3;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      #circle-bottom-div {
        grid-row: 0 / 1;
        grid-column: 2 / 3;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      #circle-top {
        width: 0;
        height: 0;
      }
      #circle-left {
        width: 0;
        height: 0;
    }
      #circle-right {
        width: 0;
        height: 0;
      }
      #circle-bottom {
        width: 0;
        height: 0;
      }
      #contact-info {
        /* text-align: center; */
        padding-top: -100px;
        width: 250px;
        height: 250px;
        margin-top: 0;
          border-radius: 50%;
      }
      #nav {
          grid-row: 3 / 4;
          grid-column: 3 / 4;   
          margin-left: 0;
          font-size: 12px;
          border-left: none;
      }
      #my-name {
        grid-row: 3 / 4;
        grid-column: 5 / 6;
      }
      /* #nav-list {
        padding-top: 10%;
      } */
      #nav-list ul {
        margin: 0;
        padding: 0;
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
      #summary {
          border-top: 2px dotted #262626;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 1rem 0 1rem;
          margin: 0;
          grid-row: 4 / 5;
          grid-column: 3 / 4;
          line-height: 1.75;
          /* padding-top: 3rem; */
      }
      .description {
        font-size: 12px;
      }
      #banner-div {
          grid-row: 2 / 3;
          grid-column: 3 / 4;
      }
      #banner {
        font-size: 35px;
      }
      #project-titles-div {
        margin-top: 2rem;
          grid-row: 3 / 4;
          grid-column: 3 / 4;
          padding: 1rem 0 1rem 0;
          display: flex;
          justify-content: space-evenly;
      }
      h4{
        margin: 0;
      }
      .project-title {
          font-size: 1rem;
          text-decoration: none;
      }
      .project-title a {
        color:#425a77;
        text-shadow: 1px 1px 1px rgb(238, 244, 255);
      }
      #projects-all {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
      }
      #proj-list-div {
        padding-top: 1rem;
        height: auto;
        width: auto;
        margin-bottom: 2rem;
        display: block;
      }
      #proj-list-div span {
        padding: 0.5rem;
      }
      #introduction {
        font-size: 1.25rem;
        text-align: center;

      }
      #contact-links {
          padding-top: 2rem;
      }
      #site-name {
        position: absolute;
        right: 0;
        font-size: 11px;
      }

    .slide-out-left {
        animation: slide-out-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .slide-out-right {
        animation: slide-out-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .slide-out-bottom {
        animation: slide-out-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .slide-out-contact {
        animation: slide-out-contact 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .bounce-in-top {
        animation: bounce-in-top 0.8s both;
    }
    .bounce-in-left {
        animation: bounce-in-top 0.8s both;
    }
    .bounce-in-right {
        animation: bounce-in-top 0.8s both;
    }
    .bounce-in-bottom {
        animation: bounce-in-top 0.8s both;
    }
    .bounce-in-contact {
        animation: bounce-in-contact 0.8s both;
    }

    @keyframes slide-out-top {
        0% {
          /* transform: translate(0); */
          opacity: 1;
        }
        100% {
          transform: translateY(-1500px) ;
          opacity: 0.5;
        }
      }
      @keyframes bounce-in-top {
        0% {
          transform: translate(-50%, -500px);
          animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          transform: translate(-50%, 0);
          animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          transform: translate(-50%, -65px);
          animation-timing-function: ease-in;
        }
        72% {
          transform: translate(-50%, 0);
          animation-timing-function: ease-out;
        }
        81% {
          transform: translate(-50%, -28px);
          animation-timing-function: ease-in;
        }
        90% {
          transform: translate(-50%, 0);
          animation-timing-function: ease-out;
        }
        95% {
          transform: translate(-50%, -8px);
          animation-timing-function: ease-in;
        }
        100% {
          transform: translate(-50%, 0);
          animation-timing-function: ease-out;
        }
      }

}