/*******--------- CELLPHONES & SMALL SCREENS ---------*******/
@media (max-width: 600px){
  body {
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
}
section {
  position: relative;
  margin: 0;
  padding: 0
}
    footer {
        grid-row: 6/7;
        grid-column: 3/4;
        margin-right: 0;
    }
    #main {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
    #main-container {
      /* background-color: #e9dfcf; */
        /* border: 2rem solid black; */
        width: 100vw;
        height: 100vh;
    }
      #main-content {
          width: 100vw;
          height: 100vh;
          /* display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center; */
          display: grid;
          grid-template-rows: 1% 14% 10% 5% 50% 19% 1%;
          grid-template-columns: 5% 5% 80% 5% 5%; 
          border-radius: 0;
          padding: 0;
          margin: auto;
          /* text-align: center; */
      }
      #circle-top-div {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      #circle-left-div {
        grid-row: 0 / 1;
        grid-column: 2 / 3;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      #circle-right-div {
        grid-row: 0 / 1;
        grid-column: 2 / 3;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      #circle-bottom-div {
        grid-row: 0 / 1;
        grid-column: 2 / 3;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      #circle-top {
        width: 0;
        height: 0;
      }
      #circle-left {
        width: 0;
        height: 0;
    }
      #circle-right {
        width: 0;
        height: 0;
      }
      #circle-bottom {
        width: 0;
        height: 0;
      }
      #contact-info {
        /* text-align: center; */
        padding-top: -100px;
        width: 300px;
        height: 300px;
        margin-top: 0;
          border-radius: 50%;
      }
      #nav {
          grid-row: 3 / 4;
          grid-column: 3 / 4;   
          margin-left: 0;
          font-size: 12px;
          border-left: none !important;
      }
      #my-name {
        grid-row: 3 / 4;
        grid-column: 5 / 6;
      }
      /* #nav-list {
        padding-top: 10%;
      } */
      #nav-list ul {
        margin: 0;
        padding: 0;
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        border-bottom: 2px dotted #262626;
      }
      #summary {
          display: flex;
          flex-direction: column;
          /* justify-content: center; */
          align-items: center;
          padding: 3rem 0.5rem 1rem 0.5rem;
          margin: 0;
          grid-row: 5 / 6;
          grid-column: 3 / 4;
          line-height: 1.75;
          /* padding-top: 3rem; */
      }
      .description {
        font-size: 16px;
      }
      #banner-div {
          grid-row: 2 / 3;
          grid-column: 3 / 4;
      }
      #banner {
        margin: auto;
        font-size: 40px;
      }
      #project-titles-div {
          margin-top: 10px;
          margin-left: 0;
          grid-row: 4 / 5;
          grid-column: 3 / 4;
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-basis: 100%;
          border-right: none;
      }
      .project {
        margin: 0;
      }
      .project-title {
        font-size: 14px;
        padding: 5px;
      }
      .project-title a {
        /* padding: 8px; */
        /* background-color: rgb(238, 244, 255);
        background: radial-gradient(white, rgb(238, 244, 255)); */
        /* text-shadow: 1px 1px 10px #425a77; */
        /* border: 2px solid black; */
        /* color:#425a77; */
        /* font-style: italic; */
        /* text-decoration: 2px underline #425a77; */
        /* text-shadow: 1px 1px 1px rgb(238, 244, 255); */
      }
      .project-img {
        max-width: 300px;
        max-height: 150px;
        width: auto;
        height: auto;
        /* border-radius: 7px; */
      }
      #projects-all {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
      }
      #proj-list-div {
        padding-top: 2rem;
        height: auto;
        width: auto;
        margin-bottom: 2rem;
        display: block;
      }
      #proj-list-div span {
        padding: 0.5rem;
      }
      #introduction {
        font-size: 1.25rem;
        text-align: center;

      }
      #links-div {
        width: 60%;
        text-align: center;
      }
      #contact-info {
        font-size: 16px;
      }
      #contact-links {
          padding-top: 2rem;
      }
      #site-name {
        position: absolute;
        right: 0;
        font-size: 11px;
      }

    .slide-out-left {
        animation: slide-out-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .slide-out-right {
        animation: slide-out-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .slide-out-bottom {
        animation: slide-out-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .slide-out-contact {
        animation: slide-out-contact 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    .bounce-in-top {
        animation: bounce-in-top 0.8s both;
    }
    .bounce-in-left {
        animation: bounce-in-top 0.8s both;
    }
    .bounce-in-right {
        animation: bounce-in-top 0.8s both;
    }
    .bounce-in-bottom {
        animation: bounce-in-top 0.8s both;
    }
    .bounce-in-contact {
        animation: bounce-in-contact 0.8s both;
    }

    @keyframes slide-out-top {
        0% {
          /* transform: translate(0); */
          opacity: 1;
        }
        100% {
          transform: translateY(-1500px) ;
          opacity: 0.5;
        }
      }
      @keyframes bounce-in-top {
        0% {
          transform: translate(-50%, -500px);
          animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          transform: translate(-50%, 0);
          animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          transform: translate(-50%, -65px);
          animation-timing-function: ease-in;
        }
        72% {
          transform: translate(-50%, 0);
          animation-timing-function: ease-out;
        }
        81% {
          transform: translate(-50%, -28px);
          animation-timing-function: ease-in;
        }
        90% {
          transform: translate(-50%, 0);
          animation-timing-function: ease-out;
        }
        95% {
          transform: translate(-50%, -8px);
          animation-timing-function: ease-in;
        }
        100% {
          transform: translate(-50%, 0);
          animation-timing-function: ease-out;
        }
      }

}